html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;  
}

.container {
  height: 100%;
}

input {
  font-size: 12px;
}

.info-image{
  height: 100px;
  width: 100px;
}

h1, h2{
  font-size: 22px;
  margin: 0;
  text-align: center;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  transition: all 500ms linear;
}

ul{
  list-style: none;
  padding:0;
  margin:0;
  border-radius: 5px;
}
.locations  li{
  cursor: pointer;
  padding-left:10px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgb(5, 5, 5);
  background-color: white;
}

hr{
  height:2px;
  background-color: darkgray;
  margin:9px 0px 5px 0px;
}

.locations li:hover{
  background-color:rgba(106, 174, 0, 0.3);
}

#locationsList .selected{
  background-color:rgb(106, 174, 0);
}

#list-container{
  height:235px;
}

#options-box {
  background-color: lightgray;
  border: 1px solid rgb(5, 5, 5);
  border-width: 0px 3px 1px 0px;
  height: 100%;
  line-height: 30px;
  text-align: left;
  display:flex;
  flex-direction:column;
  position: absolute;
  width: 317px;  
  left: -317px;
  transition: all 500ms linear;
}

/* options box fly out */
#options-box.active{
  left:0px;  
}

/* Hamburger flyout button */
#hamburger-btn{
  position:fixed;
  border-radius: 7px;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(65, 65, 65);
  cursor: pointer;
  left: 5px;
  top: 10px;
  transition: left 500ms linear;
}

#hamburger-btn.active{
  left:325px;  
}

#hamburger-btn:hover{
  background-color: gray;
}

#pic-container{
  overflow:auto;
}

.info-window{
  display:flex;
}

.venue-name{
  text-align: center;
  margin:0px 0px 2px 0px;
}

.venue-data{
  margin:3px;
  text-align:center;
  padding:9px;

}

.location-website{
  margin:0px 0px 10px 0px;
  word-wrap: break-word;
  max-width: 230px;
}

#pic-list li{
  height:300px;
}

/* Search box below */
/* https://www.youtube.com/watch?v=xE92oKJAskE */
.search-form {
  position: relative;
  display: inline-block;
}
form {
  display: block;
  position: relative;
  width: 316px;
  left: 0;
  right: 0;
  transition: all ease 0.5s;
}
form::after {
  content: "";
  display: block;
  clear: both;
}

#pic-heading{
  margin:0;
  text-align: center;
}

input {
  background:#fff;
  font-size: 18px;
  border: none;
  /* border-radius: 40px; */
  border-radius: 7px;
  outline: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  padding: 10px;
  padding-right: 195px;
  transition: all ease 0.5s;
  width: 100px;
  right: 0;
  margin-left:5px;
}

#search-btn {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: none;
  background-color: #5273de;
  color: #fff;
  right: 9px;
  top: 3px;
}


